/* Reset default margin and padding */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Home section */
#home {
  background-color: #f4f4f4;
  text-align: center;
  padding: 100px;
}

/* About section */
#about {
  background-color: #fff;
  padding: 50px;
}

#about h2 {
  text-align: center;
  margin-bottom: 20px;
}

#about p {
  text-align: justify;
  line-height: 1.5;
}

/* Contact section */
#contact {
  background-color: #f4f4f4;
  padding: 50px;
}

#contact h2 {
  text-align: center;
  margin-bottom: 20px;
}

#contact p {
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
